In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, RandomizedSearchCV
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, mean_absolute_percentage_error
from sklearn.inspection import permutation_importance
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from catboost import CatBoostRegressor
from xgboost import XGBRegressor

import warnings
warnings.filterwarnings("ignore")

In [99]:
df = pd.read_csv("./data.csv")
df.head()

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [100]:
# dropping unnamed column
df = df.drop(labels=df.columns[0],axis=1)

# drop flight number column
df.drop('flight', axis=1, inplace=True)

In [101]:
df.isnull().any()

airline             False
source_city         False
departure_time      False
stops               False
arrival_time        False
destination_city    False
class               False
duration            False
days_left           False
price               False
dtype: bool

In [102]:
df.drop_duplicates()

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,SpiceJet,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,AirAsia,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,Vistara,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,Vistara,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...
300148,Vistara,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,Vistara,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,Vistara,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,Vistara,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,Vistara,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [103]:
X = df.drop(columns=['price'], axis=1)
y = df['price']

In [104]:
num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns
print(num_features)
print(cat_features)

X[cat_features] = X[cat_features].apply(LabelEncoder().fit_transform)

num_transformer = StandardScaler()

preprocessor = ColumnTransformer(
    transformers=[
        ("num", num_transformer, num_features)
    ],
    remainder='passthrough'
)

X_preprocessed = preprocessor.fit_transform(X)

Index(['duration', 'days_left'], dtype='object')
Index(['airline', 'source_city', 'departure_time', 'stops', 'arrival_time',
       'destination_city', 'class'],
      dtype='object')

In [94]:
X_train, X_test, y_train, y_test = train_test_split(X_preprocessed, y, test_size=0.2, random_state=42)

((240122, 9), (60031, 9))

In [95]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [96]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(), 
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}

model_list = []
r2_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) 

    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 7009.3228
- Mean Absolute Error: 4646.8142
- R2 Score: 0.9046
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 7014.3097
- Mean Absolute Error: 4624.9949
- R2 Score: 0.9046
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 7009.3234
- Mean Absolute Error: 4646.5445
- R2 Score: 0.9046
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 7014.3010
- Mean Absolute Error: 4624.7093
- R2 Score: 0.9046
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 7009.3228
- Mean Absolute Error: 4646.8572
- R2 Score: 0.9046
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 7014.3090
- Mean Absolute Error: 4625.0357
- R2 Score: 0.9046
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 3078.8414
- Mean Absolute Error: 1439.7731
- R2 Score: 0.9816
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 3930.4122
- Mean Absolute Error: 1866.1284
- R2 Score: 0.9700
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 606.2042
- Mean Absolute Error: 58.3150
- R2 Score: 0.9993
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 3554.8203
- Mean Absolute Error: 1184.1095
- R2 Score: 0.9755
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 1133.9778
- Mean Absolute Error: 423.6672
- R2 Score: 0.9975
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 2782.2353
- Mean Absolute Error: 1090.3960
- R2 Score: 0.9850
===================================


XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 3434.5414
- Mean Absolute Error: 1977.9637
- R2 Score: 0.9771
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 3560.6946
- Mean Absolute Error: 2035.5624
- R2 Score: 0.9754
===================================


CatBoosting Regressor
Model performance for Training set
- Root Mean Squared Error: 3562.3745
- Mean Absolute Error: 2070.7425
- R2 Score: 0.9754
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 3666.3075
- Mean Absolute Error: 2116.2100
- R2 Score: 0.9739
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 6525.5572
- Mean Absolute Error: 4332.2941
- R2 Score: 0.9173
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6577.6764
- Mean Absolute Error: 4351.9375
- R2 Score: 0.9161
===================================